# 필요한 모듈 설정

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from matplotlib import patches
%matplotlib inline

# 데이터 로드

In [2]:
wine = pd.read_csv('WineQT.csv')
wine.drop(["Id"],axis=1, inplace=True) # 필요없는 'Id' column 제거
wine.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

## 데이터 크기, 결측치 확인

In [3]:
wine.shape

(1143, 12)

In [4]:
wine.isnull().sum()

fixed acidity           0
volatile acidity        0
citric acid             0
residual sugar          0
chlorides               0
free sulfur dioxide     0
total sulfur dioxide    0
density                 0
pH                      0
sulphates               0
alcohol                 0
quality                 0
dtype: int64

## 데이터 전처리 : good / bad

- 2 ~ 6.5 : bad
- 6.5 ~ 8 : good

In [5]:
my_bins = (2, 6.5, 8)
groups = ['bad', 'good']
wine['quality'] = pd.cut(wine['quality'], bins = my_bins, labels = groups)

In [6]:
wine['quality']

0       bad
1       bad
2       bad
3       bad
4       bad
       ...
1138    bad
1139    bad
1140    bad
1141    bad
1142    bad
Name: quality, Length: 1143, dtype: category
Categories (2, object): ['bad' < 'good']

# Modeling

## Scaled, Normalization

In [7]:
from sklearn import preprocessing
from imblearn.over_sampling import SMOTE 

oversample = SMOTE()
features, labels =  oversample.fit_resample(wine.drop(["quality"],axis=1), wine["quality"])
scaler = preprocessing.MinMaxScaler()
scaled_data = pd.DataFrame(scaler.fit_transform(features), columns=features.columns)
scaled_data

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
0,0.247788,0.397260,0.000000,0.068493,0.106845,0.149254,0.098940,0.567548,0.606299,0.137725,0.153846
1,0.283186,0.520548,0.000000,0.116438,0.143573,0.358209,0.215548,0.494126,0.362205,0.209581,0.215385
2,0.283186,0.438356,0.040000,0.095890,0.133556,0.208955,0.169611,0.508811,0.409449,0.191617,0.215385
3,0.584071,0.109589,0.560000,0.068493,0.105175,0.238806,0.190813,0.582232,0.330709,0.149701,0.215385
4,0.247788,0.397260,0.000000,0.068493,0.106845,0.149254,0.098940,0.567548,0.606299,0.137725,0.153846
...,...,...,...,...,...,...,...,...,...,...,...
1963,0.382723,0.143047,0.411591,0.064977,0.098113,0.074627,0.031802,0.411711,0.405826,0.235335,0.523077
1964,0.285529,0.176876,0.413528,0.119661,0.141215,0.104478,0.038869,0.435707,0.437469,0.259950,0.485526
1965,0.361180,0.177681,0.468774,0.152421,0.104775,0.036378,0.014134,0.360892,0.390740,0.187113,0.596143
1966,0.075864,0.376163,0.078548,0.060317,0.057475,0.192585,0.291434,0.150811,0.638176,0.310508,0.743547
1967,0.372568,0.112231,0.443572,0.059197,0.089888,0.087634,0.020293,0.271950,0.407648,0.141744,0.578245

In [8]:
normalized_arr = preprocessing.normalize(scaled_data)
normalized_data = pd.DataFrame(normalized_arr, columns=features.columns)
normalized_data

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
0,0.247821,0.397313,0.000000,0.068502,0.106859,0.149274,0.098953,0.567623,0.606380,0.137743,0.153867
1,0.279605,0.513966,0.000000,0.114966,0.141757,0.353679,0.212822,0.487878,0.357625,0.206931,0.212661
2,0.301354,0.466480,0.042566,0.102042,0.142124,0.222361,0.180493,0.541454,0.435718,0.203910,0.229203
3,0.513628,0.096372,0.492461,0.060232,0.092491,0.210005,0.167800,0.512011,0.290823,0.131646,0.189408
4,0.247821,0.397313,0.000000,0.068502,0.106859,0.149274,0.098953,0.567623,0.606380,0.137743,0.153867
...,...,...,...,...,...,...,...,...,...,...,...
1963,0.378958,0.141639,0.407542,0.064338,0.097148,0.073893,0.031489,0.407661,0.401834,0.233020,0.517931
1964,0.283406,0.175561,0.410454,0.118772,0.140165,0.103701,0.038580,0.432468,0.434218,0.258018,0.481917
1965,0.345817,0.170123,0.448835,0.145938,0.100319,0.034831,0.013533,0.345541,0.374120,0.179155,0.570786
1966,0.065013,0.322359,0.067312,0.051690,0.049254,0.165038,0.249748,0.129239,0.546895,0.266094,0.637193
1967,0.379770,0.114400,0.452148,0.060341,0.091626,0.089328,0.020685,0.277208,0.415529,0.144484,0.589424

In [9]:
from numpy import log
import warnings
warnings.filterwarnings(action='ignore')
unskew_data = normalized_data.copy(deep=True)

## Classifier Models

In [10]:
from sklearn.ensemble import RandomForestClassifier, ExtraTreesClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score
from sklearn.metrics import classification_report
from sklearn import metrics

In [11]:
rnd_clf = RandomForestClassifier(random_state=42)
log_clf = LogisticRegression(random_state=42)
dt_clf = DecisionTreeClassifier(random_state=42)
kn_clf = KNeighborsClassifier()
svm_clf = SVC(random_state=42)

models = [rnd_clf, dt_clf, kn_clf, svm_clf, log_clf]

## train / test split

In [12]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(unskew_data, labels, test_size=0.2, random_state=42)

## fit

In [13]:
for m in models:
    m.fit(X_train, y_train)

## predict

In [14]:
accuracy = []
precision = []
recall = []
F1 = []

for m in models:
    y_pred = m.predict(X_test)
    print(m.__class__.__name__,'Acc: ', accuracy_score(y_test,y_pred))
    print(m.__class__.__name__,'Precision: ', precision_score(y_test,y_pred, average = "macro"))
    print(m.__class__.__name__,'Recall: ', recall_score(y_test,y_pred, average = "macro"))
    print(m.__class__.__name__,'F1: ', f1_score(y_test,y_pred, average = "macro"))
    
    print("")
    
    acc = accuracy_score(y_test,y_pred)
    pcs = precision_score(y_test,y_pred, average = "macro")
    rec = recall_score(y_test,y_pred, average = "macro")
    f1 = f1_score(y_test,y_pred, average = "macro")
    
    accuracy.append(acc)
    precision.append(pcs)
    recall.append(rec)
    F1.append(f1)
    
    print("")

RandomForestClassifier Acc:  0.9644670050761421
RandomForestClassifier Precision:  0.9643602628527252
RandomForestClassifier Recall:  0.9647435070796688
RandomForestClassifier F1:  0.9644523496507103


DecisionTreeClassifier Acc:  0.8883248730964467
DecisionTreeClassifier Precision:  0.8882102821801314
DecisionTreeClassifier Recall:  0.8885306785649808
DecisionTreeClassifier F1:  0.8882788131879462


KNeighborsClassifier Acc:  0.9213197969543148
KNeighborsClassifier Precision:  0.9267582188930503
KNeighborsClassifier Recall:  0.9231810796172595
KNeighborsClassifier F1:  0.9212340472182992


SVC Acc:  0.8781725888324873
SVC Precision:  0.8794166989288941
SVC Recall:  0.8791427023959972
SVC F1:  0.878169449598021


LogisticRegression Acc:  0.8274111675126904
LogisticRegression Precision:  0.8272509220333737
LogisticRegression Recall:  0.8272509220333737
LogisticRegression F1:  0.8272509220333737

# Metrics Score

In [15]:
import math

metrics = [accuracy, precision, recall , F1]
total = []

for i in range(5):
    avg = 0
    for mt in metrics:
        avg += mt[i]*0.25
    avg = round(avg,2)*100
    avg = math.trunc(avg)
    total.append(avg)
        
print(total)

[96, 89, 92, 88, 83]